*.xml.bz2
*.xml.zstd
*.xml
.venv
.ruff_cache
.uv_cache
*.egg-info
*jsonl
qdrant_storage/
.devcontainer/
.sentence_transformers_cache/
__pycache__
.ipynb_checkpoints/
wikipedia.db
.coverage
trailers
*.pt
